@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Titan+One&display=swap');


/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;

}
/* --------------Gecko---------------- */

body {
    /*background: red;*/
}

.gecko_view {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    /* max-width: 390px; */
    align-items: center;
    background: #F3F4FD;
    padding-top: 20px;
    height: 100vh;
}

#gecko_div_title_title {
    font-size: 30px;
    margin: 20px;
}

.gecko_wrap {
    display: flex;
    flex-direction: column;
    max-width: 50vh;
    gap: 10px;
    margin-bottom: 20px;
}


.gecko_title {
    font-family: "Titan One", sans-serif;
    color: #00406F;
    font-size: 20px;
    margin-top: 20px;
}

.gecko_text {
    font-family: "Nunito", sans-serif;
    font-size: 12px;
}

.gecko_input {
    border: solid 1px #BFBFBF;
    border-radius: 12px;
    height: 15px;
    padding: 10px;
}

.gecko_button_main {
    background-color: #00406F;
    max-width: 740px;
    max-height: 48px;
    color: #fff;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
    
}

.gecko_button_secondary {
    background-color:  #fff;
    max-width: 740px;
    max-height: 48px;
    color: #00406F;
    border: solid #00406F 2px;
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 14px;
    text-align: center;
    text-decoration: none;
}

.gecko_button_bottom {
    bottom: 0px;
}

#gecko_players_list {
    max-height: 200px;
    min-height: 30px;
    border: none;
    border-radius: 14px;
    overflow-y: scroll;
    background: #fff;
    padding: 10px 15px;
    
}

#gecko_list_themes {
    display: grid;
    grid-template-columns: 2fr 2fr;
    background: #fff;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    

}

.gecko_list_themes_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #C3E0FB;
    border-radius: 8px;
    padding: 10px;
    border: 2px solid #fff; /* Cor da borda */
} 

.gecko_list_themes_item img{
    max-height: 40%;
    max-width: 40%;
} 

.gecko_players_list_item {
    display: flex;
    justify-content: space-between;
    font-family: "Nunito", sans-serif;
    padding: 8px 10px 8px 2px;
    border-bottom: solid #BFBFBF 1px;
}

.gecko_name_eyes {
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin: 30vh 0;
    gap: 10px;

}

.gecko_name_eyes img{
    max-width: 100px;
}

.gecko_name_eyes span{
    font-size: 35px;
}

.gecko_text_bold {
    font-weight: bold;
}

.gecko_view_word {
    gap: 10px;
}

.gecko_word {
    background: #D2E8FC;
    padding: 8px;
    border-radius: 20px;
    text-align: center;
}

.gecko_text_impostor {
    font-weight: bold;
    color: #6F0000;

}

.gecko_text_theme {
    font-weight: bold;
    color: #0182E0;

}

.gecko_word_impostor {
    background: #FCD2D2;
}

.gecko_word_impostor span{
    color:#6F0000;
}

.gecko_wrap_start {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.gecko_wrap_start img{
    width: 100px;
}

.gecko_wrap_start span {
    font-size: 35px;
    text-align: center;
}

.gecko_view_start {

}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.gecko_list_themes_item.selected {
    border: 2px solid #007bff; /* Cor da borda */
    padding: 10px;
    transition: border-color 0.3s;
}
